
#html {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    flex: 0 0 25%;
}

li a {
    display: block;
    padding: 1.2vw;
    text-decoration: none;
    /*border:  0.2vw skyblue solid;
    border-radius: 0.7vw;*/
}

#menu {
   width: 20vw;
    height: 90%;

}


#search {
    width: auto;
    height: auto;
    padding-left: 8vw;

}

/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  padding-top: 5vw;
    border-radius: 1vw;
    border-top:1vw;
    border-bottom: 1vw;
    border-left: 1vw;
    border-right: 1vw;
    background-color: #111111;
}

/* Control the left side */
.left {
    width: 25%;
    border-top: 1vw;
    background-image: url("../static/Images/clear-glass-of-wine-935240.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

/* Control the right side */
.right {
  right: 0;
  width:75%;background-color: honeydew;
    overflow: auto;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.sidebar a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9999;
  transition: all 0.5s;
  padding: 0 15px;
  background: whitesmoke;
  overflow-y: auto;
}



