<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>amCharts V4 Example - changing-tree-map-data</title>
    <link href='../static/css/Tree_Map.css' rel="stylesheet">
  </head>
  <body>
    <div id="chartdiv"></div>
    <script src="https://www.amcharts.com/lib/4/themes/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="{{ url_for('static', filename='js/Tree_Map.js') }}"></script>
  </body>
</html>